<app-player
  *ngFor="let player of game.players; let i = index"
  [ngStyle]="{ 'top.px': 100 + i * 120 }"
  [name]="player"
  [avatar]="game.avatar[i]"
  [activePlayer]="i === game.currentPlayer"
  class="player-position hide-mobile"
  (click)="editPlayer(i)"
></app-player>


  <app-player-mobile
    *ngFor="let player of game.players; let i = index"
    [ngStyle]="{ 'top.px': 0 + i * 70}"
    [name]="player"
    [avatar]="game.avatar[i]"
    [activePlayer]="i === game.currentPlayer"
    class="player-position-mobile hide-desktop"
    (click)="editPlayer(i)"

  ></app-player-mobile>

<div class="field">
  <div class="card-stack" [ngClass]="{ 'd-none': game.gameOver }">
    <!--Card stack-->
    <img
      [ngStyle]="{ 'right.px': i * 5 }"
      *ngFor="let c of [0, 1, 2, 3, 4, 5]; let i = index"
      src="./../../assets/cards/card_cover.png"
    />

    <img
      (click)="takeCard()"
      class="top-card"
      style="right: 25px"
      src="./../../assets/cards/card_cover.png"
    />
    <!--Stack for played card-->
    <img
      *ngFor="let card of game.playedCard"
      class="played-card"
      style="right: 25px"
      src="./../../assets/cards/{{ card }}.png"
    />
    <!-- Current card animation-->
    <img
      (click)="takeCard()"
      *ngIf="game.pickCardAnimation"
      class="pick-card"
      style="right: 25px"
      src="./../../assets/cards/{{ game.currentCard }}.png"
    />
  </div>
 

<button mat-fab color="primary" class="btn-add" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>

<app-game-info [card]="game.currentCard" class="pin-bottom"></app-game-info>

 
<div class="game-over" *ngIf="game.gameOver">
  <h1 style="font-family: 'Lobster'; color: black">Game over</h1>
  <p>Play again?</p>
  <div>
    <button class="yes-button" (click)="restartGame()">Yes</button>
    <button class="no-button" (click)="backToStartScreen()">No</button>
  </div>
</div>
</div>