
<h2 mat-dialog-title>Add new player</h2>
<mat-dialog-content>
  <p>Enter your name</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)] = 'name'>
  </mat-form-field>
  <p>Pick avatar</p>
  <img (click)='avatarPicked(i)' *ngFor="let i of [1,2,3,4,5]" src="./../../assets/avatars/image_part_00{{i}}.jpg">
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="noClick()" >No Thanks</button>
  <button mat-button [disabled]="name.length == 1" [mat-dialog-close]="{ name, avatar }" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
